<div class="form-row">
    <div class="col">
        <input type="hidden" name="prodAttrId" id="EditprodAttrId">
        <input type="hidden" name="prodCatId" id="EditProdCatId">
        <ejs-textbox id="EditCategory" name="categoryName" placeholder="Product Category" enabled="false" floatLabelType="Always"></ejs-textbox>
    </div>
</div>
<div class="form-row">
    <div class="col">
        <input type="hidden" name="productId" id="EditProdId">
        <ejs-textbox id="EditproductName" name="productName" placeholder="Product Name" enabled="false" floatLabelType="Always"></ejs-textbox>
    </div>
</div>
<div class="form-row">
    <div class="col">
        <input type="hidden" name="attributeId" id="AddAttributeId">
        <ejs-textbox id="EditAttributeName" name="attributeName" placeholder="Attribute Value" enabled="false" floatLabelType="Always"></ejs-textbox>
    </div>
</div>
<div class="form-row">
    <div class="col">
        <ejs-textbox id="EditAttributeValue" name="attributeValue" placeholder="Attribute Value" floatLabelType="Always"></ejs-textbox>
    </div>
</div>


<ejs-scripts></ejs-scripts>